.button_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.menu{
    border: white 1px solid;
    border-radius:360px;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 3px #ede8ea; */

}
.menu a{
    color: gray;
    text-decoration: none;
    font-size:20px;
}
#no1{
    background-color:#FCC0BE ;
}
#no2{
    background-color:#EAEFA9;
    
}
#no3{
    background-color:#BFDFE3 ;
}