{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'sub1app/center_info.css' %}"  type='text/css'> 
{% endblock %}

{% block content %}
    
    <h2>{{data.name}}</h2>
    <ul>
        <li><b class="b_opt">주소 </b>: {{data.address_road}}</li>
        <li><b class="b_opt">운영시간 </b>: {{data.opentime}} ~ {{data.cloasetime}}</li>
        <li><b class="b_opt">휴무일 </b>: {{data.dayoff}}</li>
        <li><b class="b_opt">전화번호 </b>: {{data.tel}}</li>
        <li><b class="b_opt">대표자 </b>: {{data.representative}}</li>
        <li>{{data.explain}}</li>
    </ul>
    <table>
        <tr>
            <td class="tdh"><B>운반상자현황</B></td>
            <td>{{ data.box }}</td>
        </tr>
        <tr>
            <td class="tdh"><B>포획장비현황</B></td>
            <td>{{ data.equipment_trep }} </td>
        </tr>
        <tr>
            <td class="tdh"><B>진료장비현황</B></td>
            <td>{{ data.equipment_medical}}</td>
        </tr>
    </table>
    <table class="nlist">
        <thead>
        <tr>
            <td><B>수의사</B></td>
            <td><B>질병연구자</B></td>
            <td><B>진료실</B></td>
            <td><B>수술실</B></td>
            <td><B>영상진단실</B></td>
            <td><B>입원실</B></td>
        </thead>
        <tbody>
        <tr>
            <td>{{data.num_Vet}}</td>
            <td>{{data.num_Researcher}}</td>
            <td>{{data.room_consulation}}</td>
            <td>{{data.room_operating}}</td>
            <td>{{data.room_image}}</td>
            <td>{{data.room_hospital}}</td>
        </tr>
        <tbody>
    </table>
    <table>
        <thead>
            <tr>
                <td><B>유전자원보관실</B></td>
                <td><B>재활실</B></td>
                <td><B>격리실</B></td>
                <td><B>구조차량</B></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.room_genetic}}</td>
                <td>{{data.room_remedical}}</td>
                <td>{{data.room_isolated}}</td>
                <td>{{data.num_vehicle}}</td>
            </tr>
        <tbody>    
    </table>
        
    
        
    
{% endblock %}