{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'sub1app/searchRC.css' %}"  type='text/css'> 
    
{% endblock %}

{% block content %}
    <h2>구조센터 찾기</h2>
    <form actions="{% url 'sub1app:searchRC' %}" method = "POST">
        {% csrf_token %}
        <div class="options">
            <input type="checkbox" name="regions[]" value="전체" {% if '전체' in regions %}checked{% endif %}> 전체
            <input type="checkbox" name="regions[]" value="서울" {% if '서울' in regions %}checked{% endif %}> 서울
            <input type="checkbox" name="regions[]" value="부산" {% if '부산' in regions %}checked{% endif %}> 부산
            <input type="checkbox" name="regions[]" value="광주" {% if '광주' in regions %}checked{% endif %}> 광주
            <input type="checkbox" name="regions[]" value="대전" {% if '대전' in regions %}checked{% endif %}> 대전
            <input type="checkbox" name="regions[]" value="울산" {% if '울산' in regions %}checked{% endif %}> 울산<br> 
            <input type="checkbox" name="regions[]" value="인천" {% if '인천' in regions %}checked{% endif %}> 인천
            <input type="checkbox" name="regions[]" value="대구" {% if '대구' in regions %}checked{% endif %}> 대구

            <input type="checkbox" name="regions[]" value="경기" {% if '경기' in regions %}checked{% endif %}> 경기
            <input type="checkbox" name="regions[]" value="강원" {% if '강원' in regions %}checked{% endif %}> 강원
            <input type="checkbox" name="regions[]" value="충북" {% if '충북' in regions %}checked{% endif %}> 충북
            <input type="checkbox" name="regions[]" value="충남" {% if '충남' in regions %}checked{% endif %}> 충남<br>
            <input type="checkbox" name="regions[]" value="전북" {% if '전북' in regions %}checked{% endif %}> 전북
            <input type="checkbox" name="regions[]" value="전남" {% if '전남' in regions %}checked{% endif %}> 전남
            <input type="checkbox" name="regions[]" value="경북" {% if '경북' in regions %}checked{% endif %}> 경북
            <input type="checkbox" name="regions[]" value="경남" {% if '경남' in regions %}checked{% endif %}> 경남
            <input type="checkbox" name="regions[]" value="제주" {% if '제주' in regions %}checked{% endif %}> 제주
            
            <button id="searchbtn" type = "submit">검색</button>
        </div>
    </form>    
    <div class="list_RC">
        <table class="data_table">
            <thead>
            <tr>
                <td style="width: 50px;"><B>번호</B></td>
                <td><B>센터명</B></td>
                <td><B>주소</B></td>
                <td><B>전화번호</B></td>
            </tr>
            </thead>
            <tbody>
            {% for data in results %}
            <tr>
                <td><span class="linum">{{ data.pk }}</span>번</td>
                <td class="link"><a href="{% url 'sub1app:center_info' data.pk %}">{{ data.name }} </a></td>
                <td>{{ data.address_road}}</td>
                <td>{{ data.tel }}</td>
            </tr>
            {% empty %}
                데이터가 없습니다.
            {% endfor %}
            <tbody>
        </table>
    </div>
    <div class="pages">
        <ul class="pagination">
            <!--처음페이지-->
            <li class="page-item">
                <a class="page-link" href="?page=1">처음</a>
            </li>
            <!-- 이전페이지 -->
            {% if results.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ results.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in results.paginator.page_range %}
                {% if page_number >= results.number|add:-2 and page_number <= results.number|add:2 %}
                    {% if page_number == results.number %}
                    <li class="page-item-active">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if results.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ results.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    <script>
        var orilist = document.getElementsByClassName("linum");
        // console.log(orilist);
        for(var i = 0; i<orilist.length;i++ ){
            var ori =orilist.item(i).innerHTML;
            // console.log(ori);
            var newnum = ori - 95;
            document.getElementsByClassName("linum")[i].innerHTML = newnum;
        }
    </script>
{% endblock %}