.contents{
    display: flex;
    flex-direction: column;
}
.list_RC{
    display:flex;
    flex-direction:column;
    border: 1px solid gray;
}
.data{
    border: 1px solid pink;
    padding: 10px;
}