.contents{
    display: flex;
    flex-direction: column;
}
.list_RC{
    display:flex;
    flex-direction:column;
    border: 1px solid gray;
}
.pagination{
    display:flex;
    flex-direction:column;
}
.data_table{
    width: 100%;
    min-width:300px;
}