{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/go_search.css' %}"  type='text/css'> 
{% endblock %}

{% block content %}
<h1>이미지 검색</h1>
<span>사진을 업로드 하세요</span>
<form action="{% url 'mainapp:search_result' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" id='files'><br>
    <div class="thumbnail">
        <img id="image" style="width: 200px;"/>
    </div>
    <input type="submit" value="검색">
</form>
    
<script>
    document.getElementById("files").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>
    
{% endblock %}