{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mainapp/main.css' %}"  type='text/css'> 
{% endblock %}

{% block content %}
    <div class="button_list"> 
        <div class="menu" id="no1"><a href="{% url 'mainapp:go_search' %}"><b>야생동물검색</b></a></div>
        <div class="menu" id="no2"><a href="{% url 'sub1app:searchRC' %}"><b>구조센터 찾기</b></a></div>
        <div class="menu" id="no3" ><a href="{% url 'sub1app:rescue' %}"><b>구조동물 정보 열람</b></a></div>
    </div>
{% endblock %}