{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알동말동</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    {% block style %}
    {% endblock %}
</head>
<body>
    <div id="top">
        <h3 id="title" ><a  href="{% url 'mainapp:main' %}">알동말동</a></h3>
    </div>
    <div id="middle">
        {% block content %}
        {% endblock %}
    </div>
    <div id='bottom'>
        project team 알동말동 이지원 박윤진<br>
        copyrightⓒ 2021 All rights reserved by 알동말동
    </div>    
</body>
</html>